<tr id="<%= sharing_rule.new_record? ? "sharing_rule_new" : "sharing_rule_#{sharing_rule.id}" %>">
  <td>
    <%= form_for([ @plan, sharing_rule ]) do |f| %>
      <%= f.hidden_field :relationship_id, :value => relationship_id %>
      <%= f.hidden_field :plan_id, :value => @plan.id %>
      <table>
        <tr>
          <td>
            <%= f.select(:information_type, current_user.get_information_type_list, :selected => sharing_rule.information_type) %>
          </td>
          <td>
            <%= f.select(:condition, [['Share Now', SharingRule::CONDITION_NOW], ['Become Hospitalized', SharingRule::CONDITION_HOSPITALIZED],
                ['I Turn', SharingRule::CONDITION_OWNER_TURN], ['{He/She} Turns', SharingRule::CONDITION_VIEWER_TURN]], :selected => sharing_rule.condition) %>
          </td>
          <td width="50">
            <div class="<%= f.object.new_record? || sharing_rule.conditional_parameter.blank? ? "hidden" : "" %>" id="<%= f.object.new_record? ? "conditional_parameter_new" : "conditional_parameter_#{sharing_rule.id}" %>">
              <%= f.text_field :conditional_parameter, :placeholder => 'age', :class => 'age' %>
            </div>

          </td>
          <td>
            <div class="action">
              <%= f.submit f.object.new_record? ? "Save" : "Update" %>
            </div>
          </td>
          <td>
            <div class="action">
              <div class="link">
                <%= link_to 'Delete', "/plans/#{@plan.id}/sharing_rules/#{sharing_rule.id}", :confirm => 'Are you sure?', :method => :delete, :id => 'delete' unless(f.object.new_record?) %>
                <%= link_to 'Cancel', '', :id => 'cancel_new' if(f.object.new_record?) %>
              </div>
            </div>
          </td>
        </tr>
      </table>
    <% end %>
  </td>
</tr>

<% unless(sharing_rule.new_record?) %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#sharing_rule_<%= sharing_rule.id %> #sharing_rule_condition').bind('change', function(){
        var condition = $(this).val();
        if(condition == "<%= SharingRule::CONDITION_OWNER_TURN %>" || condition == "<%= SharingRule::CONDITION_VIEWER_TURN %>")
        {
          $("#conditional_parameter_<%= sharing_rule.id %>").show();
        }

        if(condition == "<%= SharingRule::CONDITION_NOW %>" || condition == "<%= SharingRule::CONDITION_HOSPITALIZED %>")
        {
          $("#conditional_parameter_<%= sharing_rule.id %> #sharing_rule_conditional_parameter").val('');
          $("#conditional_parameter_<%= sharing_rule.id %>").hide();
        }
      });

      $('#sharing_rule_<%= sharing_rule.id %> #sharing_rule_submit').bind('click', function(){
        var condition = $('#sharing_rule_<%= sharing_rule.id %> #sharing_rule_condition').val();
        if(condition == "<%= SharingRule::CONDITION_OWNER_TURN %>" || condition == "<%= SharingRule::CONDITION_VIEWER_TURN %>")
        {
          var age = $('#sharing_rule_<%= sharing_rule.id %> #sharing_rule_conditional_parameter').val();
          if(age < 3 || !age)
          {
            alert('Please give valid age');
            return false;
          }
        }
      });
    });
  </script>
<% end %>

<% if(sharing_rule.new_record?) %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#sharing_rule_new #sharing_rule_condition').bind('change', function(){
        var condition = $(this).val();
        if(condition == "<%= SharingRule::CONDITION_OWNER_TURN %>" || condition == "<%= SharingRule::CONDITION_VIEWER_TURN %>")
        {
          $("#conditional_parameter_new").show();
        }

        if(condition == "<%= SharingRule::CONDITION_NOW %>" || condition == "<%= SharingRule::CONDITION_HOSPITALIZED %>")
        {
          $("#conditional_parameter_new").hide();
        }
      });

      $('#cancel_new').bind('click', function(){
        $('#sharing_rule_new').remove();
        return false;
      });

      $('#sharing_rule_new #sharing_rule_submit').bind('click', function(){
        var condition = $('#sharing_rule_new #sharing_rule_condition').val();
        if(condition == "<%= SharingRule::CONDITION_OWNER_TURN %>" || condition == "<%= SharingRule::CONDITION_VIEWER_TURN %>")
        {
          var age = $('#sharing_rule_new #sharing_rule_conditional_parameter').val();
          if(age < 3 || !age)
          {
            alert('Please give valid age');
            return false;
          }
        }
      });
    });
  </script>
<% end %>