<h2>Sign up</h2>

<% if(resource.class == User && session[:user_attributes].present?) %>
    <% resource.name ||= session[:user_attributes]["name"] %>
    <% resource.address ||= session[:user_attributes]["address"] %>
    <% resource.phone_number ||= session[:user_attributes]["phone_number"] %>
    <% resource.date_of_birth ||= session[:user_attributes]["date_of_birth"] %>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  <br/>
  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :date_of_birth %><br />
  <%#= f.text_field :date_of_birth %></div>
  <%= f.date_select(:date_of_birth, {:default => 40.years.ago,
    :order => [:year, :month, :day], :start_year => Date.today.year - 70,
    :end_year => Date.today.year, :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }},
                    {:style => "width: 71px;"}) -%>

  <div><%= f.label :address %><br />
  <%= f.text_area :address %></div>

  <div><%= f.label :phone_number %><br />
  <%= f.text_field :phone_number %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
