<!--h2>Sign up</h2-->

<% if (resource.class == User && session[:user_attributes].present?) %>
    <% resource.first_name ||= (session[:user_attributes]["name"] || "").split(" ").first %>
    <% resource.last_name ||= (session[:user_attributes]["name"] || "").split(" ").last %>
    <% resource.address ||= session[:user_attributes]["address"] %>
    <% resource.phone_number ||= session[:user_attributes]["phone_number"] %>
    <% resource.date_of_birth ||= session[:user_attributes]["date_of_birth"] %>
<% end %>

<div class="page-banner">
  <img src="/images/my-profile-banner.png"/>
  <label>My Friends & Family</label>
</div>

<div class="edit-profile">
  <div class="sections">
    <div class="section">My Profile</div>
    <div class="section inactive">My Family</div>
    <div class="section last inactive">My Friends</div>
  </div>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:multipart => true}) do |f| %>
      <%= devise_error_messages! %>

      <div style="float: left; margin-right: 20px; overflow: hidden;">
        <div class="field">
          <%= f.text_field :first_name, :size => 11 %>
        </div>
        <div class="field">
          <%= image_tag((f.object.profile_image.present? ? f.object.profile_image_url : '/images/no-profile-image.png'), :width => 100) %>
          <br/><br/>
          <%= f.file_field :profile_image, :value => "Upload Picture", :class => "file-input", :style => "width: 100px" -%>
          <br/>
          <%= f.hidden_field :profile_image_cache, :class => "file-cache" %>
          Upload Photo
        </div>
        <br/><br/>
        Upload docs
      </div>

      <div style="float: left;">
        <div class="field">
          <%= f.text_field :middle_name, :size => 13 %>&nbsp;
          <%= f.text_field :last_name, :size => 13 %>
        </div>

        <div class="field">
          <%= f.date_select(:date_of_birth, {:default => 40.years.ago,
                                             :order => [:month, :day, :year], :start_year => Date.today.year - 70,
                                             :end_year => Date.today.year, :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'}},
                            {:style => "width: 77px;"}) -%>
        </div>

        <div class="field">
          <%= f.text_area :address, :rows => 1, :cols => 30 %>
        </div>

        <div class="field">
          <%= f.text_field :area_code_part1, :size => 8 %>
          <%= f.text_field :area_code_part2, :size => 7 %>
          <%= f.text_field :area_code_part3, :size => 7 %>
        </div>

        <div class="field">
          <%= f.text_field :email, :size => 30 %>
        </div>

        <div class="field">
          <%#= f.label :password %> <!--i>(leave blank if you don't want to change it)</i-->
          <%= f.password_field :password, :size => 30 %>
        </div>

        <div class="field"><%#= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :size => 30 %>
        </div>
      </div>

      <div style="float: right; padding-right: 10px; padding-top: 10px"><%= f.submit "Create an Account" %></div>
      <div style="clear: both;"></div>
  <% end %>
</div>

<%= render :partial => "devise/shared/links" %>

<script type="text/javascript">
    $(function() {
        $("#user_email").watermark("Email", {useNative: false});
        $("#user_first_name").watermark("First Name", {useNative: false});
        $("#user_middle_name").watermark("Middle Name", {useNative: false});
        $("#user_last_name").watermark("Last Name", {useNative: false});
        $("#user_address").watermark("Address", {useNative: false});
        $("#user_area_code_part1").watermark("Area Code", {useNative: false});
        $("#user_area_code_part2").watermark("xxx", {useNative: false});
        $("#user_area_code_part3").watermark("xxx", {useNative: false});
        $("#user_password").watermark("Password", {useNative: false});
        $("#user_password_confirmation").watermark("Password Confirmation", {useNative: false});
    });
</script>