<div id="real-estate-show-container">
  <div id="real-estate-show">

    <p>
      <b>Investment type:</b>
      <%= @investment_account.investment_type %>
    </p>

    <p>
      <b>Account provider:</b>
      <%= @investment_account.account_provider %>
    </p>

    <p>
      <b>Contact information:</b>
      <%= @investment_account.contact_information %>
    </p>

    <p>
      <b>Last four digits of account:</b>
      <%= @investment_account.last_four_digits_of_account %>
    </p>

    <p>
      <b>Note:</b>
      <%= @investment_account.note %>
    </p>

  </div>
</div>