<h1>Listing jewelries</h1>

<table>
  <tr>
    <th>Possession</th>
    <th>Name</th>
    <th>Photo</th>
    <th>Document</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jewelries.each do |jewelry| %>
  <tr>
    <td><%= jewelry.possession_id %></td>
    <td><%= jewelry.name %></td>
    <td><%= jewelry.photo %></td>
    <td><%= jewelry.document %></td>
    <td><%= jewelry.note %></td>
    <td><%= link_to 'Show', jewelry %></td>
    <td><%= link_to 'Edit', edit_jewelry_path(jewelry) %></td>
    <td><%= link_to 'Destroy', jewelry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jewelry', new_jewelry_path %>
