<div id="real-estate-show-container">
  <div id="real-estate-show">

    <p>
      <b>Name of bank:</b>
      <%= @safe_deposit_box.name_of_bank %>
    </p>

    <p>
      <b>Street address:</b>
      <%= @safe_deposit_box.street_address %>
    </p>

    <p>
      <b>City:</b>
      <%= @safe_deposit_box.city %>
    </p>

    <p>
      <b>State:</b>
      <%= @safe_deposit_box.state %>
    </p>

    <p>
      <b>Zip:</b>
      <%= @safe_deposit_box.zip %>
    </p>

    <p>
      <b>Box number:</b>
      <%= @safe_deposit_box.box_number %>
    </p>

    <p>
      <b>Location of key:</b>
      <%= @safe_deposit_box.location_of_key %>
    </p>

    <p>
      <b>Note:</b>
      <%= @safe_deposit_box.note %>
    </p>


  </div>
</div>