<div id="landing-page">
  <div id="banner-outer-container">
    <div id="banner-container">
      <div class="banner">
        <div class="content">
          <span class="left">“</span>Creating a legacy plan was easy & now all our end of life
          wishes are in one place.<span>”</span>
          <div class="description">
            A Legacy plan clarifies your wishes and provides instructions
            so your loved ones know what you want when you die.
          </div>
          <div class="link">
            <%= image_tag('/images/learn_more_button.png') %>
          </div>
        </div>
        <div class="loading-bar">
          <%= image_tag('/images/loading_bar.png') %>
        </div>
      </div>
    </div>
  </div>

  <div id="body-container">
    <div class="body">
      <div class="main-content">
        <div class="row">
          <div class="icon">
            <%= image_tag('/images/cloud.png') %>
          </div>
          <div class="text">
            <div class="title">
              We keep everything safe in the cloud
            </div>
           Your plan details are kept safe, so you don't
           have to worry about where your plan is kept. 
          </div>
          <div class="clear"></div>
        </div>
        <div class="row">
          <div class="icon">
            <%= image_tag('/images/shield.png') %>
          </div>
          <div class="text">
            <div class="title">
              You control who sees your plan and when
            </div>
            You can keep your plan to yourself, download it as a pdf, 
            or share it with those who need it, at the time of your choosing. 
            We use 128-bit SSl encryption- the same security that banks use- 
            to keep your information safe and secure.
          </div>
          <div class="clear"></div>
        </div>
        <div class="row">
          <div class="icon">
            <%= image_tag('/images/comments.png') %>
          </div>
          <div class="text">
            <div class="title">
              Easy To Understand Checklists
            </div>
            We help you figure out what's most important for your situation
          </div>
          <div class="clear"></div>
        </div>
        <div class="row">
          <div class="icon">
            <%= image_tag('/images/calender.png') %>
          </div>
          <div class="text">
            <div class="title">
              Share your plan on your terms
            </div>
            You can schedule release of your plan when you reach
            a certain age, or have it shared only when you die. 
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="right-side-bar">
        <div class="video-container">
          <div class="title">
            Find out more about My Legacy Plan
          </div>
          <div class="underline"></div>
          <div class="video">
            <iframe class="youtube-player"
                    type="text/html"
                    width="392" height="215"
                    src="http://www.youtube.com/embed/4tBr30j4Wn0"
                    frameborder="0">
            </iframe>
          </div>
        </div>
        <div class="screenshots-container">
          <div class="title">
            See a sample Legacy Plan
          </div>
          <div class="underline"></div>
          <div class="screenshots">
            <%= link_to image_tag('/images/screen_shots.png'), '/images/sample _legacy_plan.pdf', :target => '_blank' %>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>