<%#= link_to(image_tag('/images/get-started.jpg'), publics_plan_path()) -%>
<div id="text">
  <div class="guid_text">Guide</div>
  <!--textarea class="guid_field"> </textarea-->
</div>

<div id="content_info">
  <div class="title">
    Are you creating a plan for yourself or for a loved one?
  </div>

  <div class="form-container">
    <div class="image">
      <%= image_tag('/images/myself.png', :class => 'normal', :id => 'myself') %>
      <br/><span> Myself </span>
    </div>
    <div class="image">
      <%= image_tag('/images/myself.png', :class => 'selected', :id => 'loved-one') %>
      <br/><span> Loved one </span>
    </div>
    <div class="field_form">
      <input type="text" name=" " id="first_name" value="" placeholder="First Name" size="10"/>
      <input type="text" name=" " id="last_name" value="" placeholder="Last Name" size="10"/>

      <div style="margin: 5px 0;">
        <input type="text" name=" " id="email_address" value="" placeholder="Email Address" size="24"/>
      </div>
      <div style="margin: 5px 0;">
        <input type="text" name=" " id="relationship" value="" placeholder="Relationship" size="24"/>
      </div>
    </div>
  </div>

  <div class="get-started-tips">
    <div class="title">Where do you want to get started?</div>
    <ul>
      <li>
        <div class="tips-link">
          <%= image_tag('/images/medical_directives_icon.png') %>
          <%= link_to("Medical directives", new_medical_instruction_path(), :id => "medical_directives_link") -%>
        </div>
        make important medical decisions before its too late
      </li>
      <li>
        <div class="tips-link">
          <%= image_tag('/images/memorial_icon.png') %>
          <%= link_to "Memorial", '' %>
        </div>
        plan aspects of your memorial service ahead of time
      </li>
      <li>
        <div class="tips-link">
          <%= image_tag('/images/my_things.png') %>
          <%= link_to "My things", '' %>
        </div>
        organize you assets and gifting
      </li>
      <li>
        <div class="tips-link">
          <%= image_tag('/images/fanincial.png') %>
          <%= link_to "Financial", '' %>
        </div>
        store important account information
      </li>
      <li>
        <div class="tips-link">
          <%= image_tag('/images/gaurdianship.png') %>
          <%= link_to "Guardianship", '' %>
        </div>
        set up guardianship for your children and pets
      </li>
      <li>
        <div class="tips-link">
          <%= image_tag('/images/will_and_trust.png') %>
          <%= link_to "Will and Trust", '' %>
        </div>
        create legally binding documents
      </li>
    </ul>
  </div>

</div>

<script type="text/javascript">
  $("#medical_directives_link").click(function(){
    //alert($(this).attr('href'));
    document.location.href = $(this).attr('href') + "?first_name=" + $("#first_name").val() + "&last_name=" + $("#last_name").val() +
      "&email_address=" + $("#email_address").val() + "&relationship=" + $("#relationship").val();
    return false;
  });
</script>


<script type="text/javascript">
  $(document).ready(function(){
    $('#myself').click(function(){
       $('#loved-one').css('border','solid 4px #ebe6e1');
       $('#loved-one').css('cursor','pointer');
       $(this).css('border','solid 4px #0071bc');
       $(this).css('cursor','default');
       $('#relationship').val('myself');
       $('#relationship').hide();
    });

    $('#loved-one').click(function(){
       $('#myself').css('border','solid 4px #ebe6e1');
       $('#myself').css('cursor','pointer');
       $(this).css('border','solid 4px #0071bc');
       $(this).css('cursor','default');
       $('#relationship').val('');
       $('#relationship').show();
    });
  });
</script>