<div id="why-legacy">
  <div id="banner-outer-container">
    <div id="banner-container">
      <div class="banner">
        <%#*<div class="content">%>
          <%#*<div class="title">%>
            <%#*Peace of mind with a complete plan%>
          <%#*</div>%>
          <%#*All your wishes in one<br/>place%>
          <%#*<div class="description">%>
            <%#*Lorem ipsum dolor sit amet, consectetur adipisicing elt,%>
            <%#*seddo eiusmod tempor incididunt  ut labore et dolore magna aliqua.%>
            <%#*Ut enim ad minim veniam, quis%>
          <%#*</div>%>
        <%#*</div>%>
      </div>
    </div>
  </div>

  <div id="body-container">
    <div class="body">
      <div class="main-content">
        <div class="left">
          <div class="video">
            <object style="height: 215px; width: 398px">
              <param name="movie" value="https://www.youtube.com/v/4tBr30j4Wn0?version=3&feature=player_embedded">
              <param name="allowFullScreen" value="true">
              <param name="allowScriptAccess" value="always">
              <embed src="https://www.youtube.com/v/4tBr30j4Wn0?version=3&feature=player_embedded" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="394" height="215">
            </object>
          </div>

          <div class="trusted">
            <%= image_tag('/images/trusted.jpg') %>
            <div class="title">
              Stay safe and secure.
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet,consecteur adipisicing elt, seddo eiusmod
              tempor incididunt ut labore et dolore magna aliqua. ut enima ad minim
              venim, quis
              <div class="learn-more">
                <%= link_to 'Learn more', '' %>
                <%= image_tag('/images/right_arrow_blue.jpg') %>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="right">
          <div class="watch-video">
            <div class="title">
              Watch a video about<br/>
              My Legacy Plan
            </div>
            Lorem ipsum dolor sit amet, consectetur adipisicinf elit, seddo eiusmod tempor incididunt ut
          </div>
          <div class="its-free">
            <%= image_tag('/images/its_free.jpg') %>
            <div class="title">
              Its completely free.
            </div>
            <div class="description">
              Lorem ipsum dolor sit amet,consecteur adipisicing elt, seddo eiusmod
              tempor incididunt ut labore et dolore magna aliqua. ut enima ad minim
              venim, quis
              <div class="learn-more">
                <%= link_to 'Learn more', '' %>
                <%= image_tag('/images/right_arrow_blue.jpg') %>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>