<%= form_for(@relationship, :url => relationships_path) do |f| %>
  <% if @relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relationship.errors.count, "error") %> prohibited this relationship from being saved:</h2>

      <ul>
        <% @relationship.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type, :value => relation_type, :readonly => true, :class => 'transparent' %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
    *
  </div>
  <div class="field">
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
    *
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_select(:date_of_birth, {:default => 40.years.ago,
        :order => [:year, :month, :day], :start_year => Date.today.year - 70,
        :end_year => Date.today.year, :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'}},
      {:style => "width: 71px;"}) %>
    *
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
    *
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
    *
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
    *
  </div>
  <div class="field">
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code %>
    *
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    *
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :doc %><br />
    <%= f.file_field :doc %>
  </div>
  <div class="field">
    <%= f.label :relation, 'Relationship' %><br />
    <%= f.text_field :relation %>
  </div>
  <div class="field">
    <%= f.label :additional_notes %><br />
    <%= f.text_area :additional_notes, :size => '39x3' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){
    $('#relationship_submit').bind('click', function(){
      var errors = 'Please correct this errors...\n\n';
      var first_name = $('#relationship_first_name').val();
      if(first_name.length < 3)
      {
        errors += 'Invalid First Name.\n';
      }
      var last_name = $('#relationship_last_name').val();
      if(last_name.length < 3)
      {
        errors += 'Invalid Last Name.\n';
      }

      var date_of_birth_1i = $('#relationship_date_of_birth_1i').val();
      var date_of_birth_2i = $('#relationship_date_of_birth_2i').val();
      var date_of_birth_3i = $('#relationship_date_of_birth_3i').val();
      if(date_of_birth_1i == '' || date_of_birth_2i == '' || date_of_birth_3i == '')
      {
        errors += 'Invalid Date of Birth.\n';
      }

      var address = $('#relationship_address').val();
      if(address.length < 5)
      {
        errors += 'Invalid Address.\n';
      }
      var city = $('#relationship_city').val();
      if(city.length < 3)
      {
        errors += 'Invalid City.\n';
      }
      var state = $('#relationship_state').val();
      if(state.length < 2)
      {
        errors += 'Invalid State.\n';
      }
      var zip_code = $('#relationship_zip_code').val();
      if(zip_code.length < 3)
      {
        errors += 'Invalid Zip Code.\n';
      }

      var regEmail = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
      var email = $('#relationship_email').val();
      if((regEmail.test(email) == false) || email.length < 13)
      {
        errors += 'Invalid Email.\n';
      }


      if(errors != 'Please correct this errors...\n\n')
      {
        alert(errors);
        return false;
      }
    });
  });
</script>
