<h1>Listing <%= type %> </h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date of birth</th>
    <th>Address</th>
    <th>Phone number</th>
    <th>Email</th>
    <th>Image</th>
    <th>Doc</th>
    <th>Relation</th>
    <th>Additional notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% relationships.each do |relationship| %>
  <tr>
    <td><%= relationship.first_name %>
    <%= relationship.middle_name %>
    <%= relationship.last_name %></td>
    <td><%= relationship.date_of_birth %></td>
    <td><%= relationship.address %></td>
    <td><%= relationship.phone_number %></td>
    <td><%= relationship.email %></td>
    <td><%= relationship.image %></td>
    <td><%= relationship.doc %></td>
    <td><%= relationship.relation %></td>
    <td><%= relationship.additional_notes %></td>
    <td><%#= link_to 'Show', relationship %></td>
    <td><%#= link_to 'Edit', edit_relationship_path(relationship) %></td>
    <td><%#= link_to 'Destroy', relationship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>