<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @relationship.user_id %>
</p>

<p>
  <b>Type:</b>
  <%= @relationship.type %>
</p>

<p>
  <b>First name:</b>
  <%= @relationship.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @relationship.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @relationship.last_name %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @relationship.date_of_birth %>
</p>

<p>
  <b>Address:</b>
  <%= @relationship.address %>
</p>

<p>
  <b>Phone number:</b>
  <%= @relationship.phone_number %>
</p>

<p>
  <b>Email:</b>
  <%= @relationship.email %>
</p>

<p>
  <b>Image:</b>
  <%= @relationship.image %>
</p>

<p>
  <b>Doc:</b>
  <%= @relationship.doc %>
</p>

<p>
  <b>Relation:</b>
  <%= @relationship.relation %>
</p>

<p>
  <b>Additional notes:</b>
  <%= @relationship.additional_notes %>
</p>


<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
