<div id="real-estate-show-container">
  <div id="real-estate-show">
<p>
  <b>Card type:</b>
  <%= @credit_card.card_type %>
</p>

<p>
  <b>Issuer:</b>
  <%= @credit_card.issuer %>
</p>

<p>
  <b>Phone:</b>
  <%= @credit_card.phone %>
</p>

<p>
  <b>Last four digits of card:</b>
  <%= @credit_card.last_four_digits_of_card %>
</p>

<p>
  <b>Note:</b>
  <%= @credit_card.note %>
</p>

  </div>
</div>