<!--<h2>Sign up</h2>-->

<%= render :partial => 'shared/body_content_top_without_menu',
  :locals => { :title => 'Welcome',
  :heading => 'Please create your account'} %>

<% if (resource.class == User && session[:user_attributes].present?) %>
  <% resource.first_name ||= (session[:user_attributes]["name"] || "").split(" ").first %>
  <% resource.last_name ||= (session[:user_attributes]["name"] || "").split(" ").last %>
  <% resource.address ||= session[:user_attributes]["address"] %>
  <% resource.phone_number ||= session[:user_attributes]["phone_number"] %>
  <% resource.date_of_birth ||= session[:user_attributes]["date_of_birth"] %>
<% end %>

<div class="content-container">

  <div class="edit-profile">


    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name, :protocol => https), :html => {:multipart => true, :class => 'create_account new_user_common'}) do |f| %>
      <%= devise_error_messages! %>



      <div class="single-row">
        <div class="single-field">
          <%= f.label :name %>
          <%= f.text_field :first_name, :size => 11, :placeholder => 'First' %>
        </div>
        <div class="single-field last">
          <label for="last_name">&nbsp;</label>
          <%= f.text_field :last_name, :size => 13, :placeholder => 'Last' %>
        </div>
        <div style="clear:both;"></div>
      </div>

      <div class="single-row">
        <div class="single-field">
          <%= f.label :Email %>
          <%= f.text_field :email, :size => 28 %>
        </div>
        <div class="single-field last">
          <%= f.label :email, 'Verify Email' %>
          <%= f.text_field :email, :size => 28 %>
        </div>
        <div style="clear:both;"></div>
      </div>

      <div class="single-row">
        <div class="single-field">
          <%= f.label :password, 'Create a password' %>
          <%= f.password_field :password, :size => 28 %>
        </div>
        <div class="single-field last">
          <%= f.label :password_confirmation, 'Confirm your password' %>
          <%= f.password_field :password_confirmation, :size => 28 %>
        </div>
        <div style="clear:both;"></div>
      </div>

      <div class="single-field">
        <%= f.label :date_of_birth, 'Birthday' %>
        <%= f.date_select(:date_of_birth, {:default => 40.years.ago,
            :order => [:month, :day, :year], :start_year => Date.today.year - 70,
            :end_year => Date.today.year, :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'}},
          {:style => "width: 94px;"}) -%>
      </div>

      <div class="single-field">
        <%= f.label :gender %>
        <%= f.select(:gender, [["Male", User::GENDER_MALE], ["Female", User::GENDER_FEMALE]], options ={:prompt => "I am..."}) %>
      </div>

      <div class="single-field top-margin">
        <input type="checkbox" value="1" name="user[agreed]" id="user_agreed"  class="checkbox" />
        <label for="user_agreed" class="inline">I agree to the terms of service and privacy policy</label>
      </div>
      <div style="clear: both;"></div>
      <div class="create_button_container">
        <%= image_submit_tag "/images/create_account_button.png", { :name => "create_account", :id => "create_account_button" } %>
      </div>
  <%#= f.submit "Create an Account" %>










  <%#*<div class="field">%>
  <%#= f.text_area :address, :rows => 1, :cols => 30 %>
  <%#*</div>%>

  <%#*<div class="field">%>
  <%#= f.text_field :area_code_part1, :size => 8 %>
  <%#= f.text_field :area_code_part2, :size => 7 %>
  <%#= f.text_field :area_code_part3, :size => 7 %>
  <%#*</div>%>

  <%#*<div class="field">%>
  <%#= f.text_field :email, :size => 30 %>
  <%#*</div>%>

  <%#*<div class="field">%>
  <%#= f.label :password %> <!--i>(leave blank if you don't want to change it)</i-->
  <%#= f.password_field :password, :size => 30 %>
  <%#*</div>%>

  <%#*<div class="field">%>
  <%#= f.label :password_confirmation %>
  <%#= f.password_field :password_confirmation, :size => 30 %>
  <%#*</div>%>
  <%#*<div style="clear: both"></div>%>

  <%#*<div style="float: right; padding-right: 10px; padding-top: 10px">%>
  <%#= f.submit "Create an Account" %>
  <%#*</div>%>


  <%#*<div style="clear: both;"></div>%>


    <% end %>
  </div>

<%#= render :partial => "devise/shared/links" %>
</div>

<script type="text/javascript">
<%#*$(function() {%>
<%#*$("#user_email").watermark("Email", {useNative: false});%>

<%#*$("#user_middle_name").watermark("Middle Name", {useNative: false});%>
<%#*$("#user_last_name").watermark("Last Name", {useNative: false});%>
<%#*$("#user_address").watermark("Address", {useNative: false});%>
<%#*$("#user_area_code_part1").watermark("Area Code", {useNative: false});%>
<%#*$("#user_area_code_part2").watermark("xxx", {useNative: false});%>
<%#*$("#user_area_code_part3").watermark("xxx", {useNative: false});%>
<%#*$("#user_password").watermark("Password", {useNative: false});%>
<%#*$("#user_password_confirmation").watermark("Password Confirmation", {useNative: false});%>
<%#*});%>
</script>