<div class="right-shadow"></div>
<div class="user-name">
  <% if current_user.present? %>
    <%= current_user.full_name %>
  <% end %>
</div>

<div class="left-menu-container">
  <div class="menu" onclick="location.href='<%= publics_dashboard_path %>'">
    <div class="icon">
      <%= image_tag('/images/icon_dashboard.png') %>
    </div>
    <div class="link">
      <%= link_to "Dashboard", publics_dashboard_path  %>
    </div>
    <div class="clear"></div>
  </div>

  <% medical = current_user.default_plan.medical_instructions.first if current_user.present? && current_user.default_plan.medical_instructions.first.present? %>
  <div class="menu" onclick="location.href='<%= medical.present? ? medical_instruction_path(medical.id) : agreement_medical_instructions_path %>'">
    <div class="icon">
      <%= image_tag('/images/icon_medical.png') %>
    </div>
    <div class="link">
      <%= link_to "Medical directives", medical.present? ? medical_instruction_path(medical.id) : agreement_medical_instructions_path %>
    </div>
    <div class="clear"></div>
  </div>

  <% memorial = current_user.default_plan.memorials.first if current_user.present? && current_user.default_plan.memorials.first.present? %>
  <div class="menu" onclick="location.href='<%= memorial.present? ? memorial_path(memorial.id) : new_memorial_path %>'">
    <div class="icon">
      <%= image_tag('/images/icon_memorial.png') %>
    </div>
    <div class="link">
      <%= link_to "Memorial & Remains", memorial.present? ? memorial_path(memorial.id) : new_memorial_path %>
    </div>
    <div class="clear"></div>
  </div>

  <div class="menu" onclick="location.href='<%= possessions_path %>'">
    <div class="icon">
      <%= image_tag('/images/icon_my_things.png') %>
    </div>
    <div class="link">
      <%= link_to "My Possessions", possessions_path %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="menu" onclick="location.href='<%= will_and_trusts_path %>'">
    <div class="icon">
      <%= image_tag('/images/icon_trust.png') %>
    </div>
    <div class="link">
      <%= link_to "Will & Trust", will_and_trusts_path %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="menu" onclick="location.href='<%= financial_accounts_path %>'">
    <div class="icon">
      <%= image_tag('/images/icon_financial.png') %>
    </div>
    <div class="link">
      <%= link_to "Financial & Accounts", financial_accounts_path %>
    </div>
    <div class="clear"></div>
  </div>

  <!--
<%#*<div class="menu">%>
<%#*<div class="icon">%>
<%#= image_tag('/images/icon_guardianship.png') %>
<%#*</div>%>
<%#*<div class="link">%>
<%#= link_to "Guardianships" %>
<%#*</div>%>
<%#*<div class="clear"></div>%>
<%#*</div>%>

<%#*<div class="menu">%>
<%#*<div class="icon">%>
<%#= image_tag('/images/icon_to_do.png') %>
<%#*</div>%>
<%#*<div class="link">%>
<%#= link_to "Suggested To Do list" %>
<%#*</div>%>
<%#*<div class="clear"></div>%>
<%#*</div>%>

<%#*<div class="menu" onclick="location.href='<%= edit_user_registration_path %>'">%>
<%#*<div class="icon">%>
<%#= image_tag('/images/icon_account.png') %>
<%#*</div>%>
<%#*<div class="link">%>
<%#= link_to "My Account", edit_user_registration_path %>
<%#*</div>%>
<%#*<div class="clear"></div>%>
<%#*</div>%>
  -->
</div>

