<div id="header">
  <div class="logo">
    <%= link_to image_tag('/images/logo.png'), root_path %>
  </div>

  <div class="header-top-menu">
    <div class="menu">
      <% if (current_user.present?) -%>
        <%= link_to image_tag('/images/account_button.png'), edit_user_registration_path() %>
      <% end %>
    </div>
    <div class="menu">
      <%= link_to image_tag('/images/help_button.png'), new_contact_path %>
    </div>
    <div class="clear"></div>
  </div>

  <div class="header_right">
    <div class="logged">
      Logged in as Owner
    </div>

    <div class="logout">
      <% if (current_user.present?) -%>
        <%= link_to image_tag('/images/logout_button.png'), destroy_user_session_path(), :method => :delete %>
      <% else %>
        <%= link_to("Sign in", user_session_path()) -%>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>

