<h1>Listing agents</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Home phone</th>
    <th>Cell phone</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Relationship</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agents.each do |agent| %>
  <tr>
    <td><%= agent.name %></td>
    <td><%= agent.home_phone %></td>
    <td><%= agent.cell_phone %></td>
    <td><%= agent.address %></td>
    <td><%= agent.city %></td>
    <td><%= agent.state %></td>
    <td><%= agent.zip %></td>
    <td><%= agent.relationship %></td>
    <td><%= link_to 'Show', agent %></td>
    <td><%= link_to 'Edit', edit_agent_path(agent) %></td>
    <td><%= link_to 'Destroy', agent, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agent', new_agent_path %>
