<%= render :partial => 'shared/body_content_top_without_menu',
  :locals => { :title => 'Will & Trust',
  :heading => 'Upload your will or estate plan'} %>

<div class="content-container" id="will-and-trust">
  <div class="instructions">
    You can store a copy of your most recent will or estate plan here.<br/>
    It will be stored on our server, and will be included as part of your plan<br/>
    when you share or download it. You can also describe where it is<br/>
    physically located so your friend or family member knows where to find it.<br/>
    You can always download your will or documents from here.
  </div>

  <% if @will_and_trusts.present? %>
    <div class="title">
      List of Your Uploaded Files
    </div>
    <div class="list">
      <% @will_and_trusts.each_with_index do |will_and_trust, index| %>
        <div class="row">
          <table cellspacing="0">
            <tr>
              <td class="comment">
                <%= will_and_trust.comment %>
              </td>
              <td class="download">
                <%= link_to image_tag('/images/download_link_bk.png'), will_and_trust.file.url, :target => '_blank' %>
              </td>
              <td class="link">
                <div class="link-box">
                  <%= link_to 'DELETE', will_and_trust, :confirm => 'Are you sure?', :method => :delete %>
                </div>
              </td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
  <% end %>


  <div class="title">

  </div>

  <div class="form">
    <%= render 'form' %>
  </div>

</div>