<%= render :partial => 'shared/body_content_top',
  :locals => { :title => 'My Possessions',
  :heading => 'Gifting, Personal Items, Major Assets and More'} %>

<div class="content-container">
  <div id="possessions">
    <div class="title">FILL OUT YOUR INFORMATION BELOW</div>
    <div class="heading">
      Category <span>Item Name</span>
    </div>

    <% if @possessions.present? %>
      <% possession = @possessions.first %>

      <% if possession.real_estates.present? %>
        <% possession.real_estates.each do |real_estate| %>
          <div class="row">
            <div class="category">
              <%= real_estate.real_estate_type %>
            </div>
            <div class="item">
              <%= real_estate.address %>
            </div>
            <div class="link-container">
              <div class="link">
                <%= link_to 'View', real_estate, :rel => 'facebox' %>
              </div>
              <div class="link">
                <%= link_to 'Edit', edit_real_estate_path(real_estate), :rel => 'facebox' %>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      <% end %>

      <% if possession.vehicles.present? %>
        <% possession.vehicles.each do |vehicle| %>
          <div class="row">
            <div class="category">
              <%= vehicle.type_of_vehicle %>
            </div>
            <div class="item">
              <%= vehicle.manufacturrer %>
            </div>
            <div class="link-container">
              <div class="link">
                <%= link_to 'View', vehicle, :rel => 'facebox' %>
              </div>
              <div class="link">
                <%= link_to 'Edit', edit_vehicle_path(vehicle), :rel => 'facebox' %>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      <% end %>

      <% if possession.furnitures.present? %>
        <% possession.furnitures.each do |furniture| %>
          <div class="row">
            <div class="category">
              Furniture
            </div>
            <div class="item">
              <%= furniture.name %>
            </div>
            <div class="link-container">
              <div class="link">
                <%= link_to 'View', furniture, :rel => 'facebox' %>
              </div>
              <div class="link">
                <%= link_to 'Edit', edit_furniture_path(furniture), :rel => 'facebox' %>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      <% end %>


      <% if possession.jewelries.present? %>
        <% possession.jewelries.each do |jewelry| %>
          <div class="row">
            <div class="category">
              Jewelry
            </div>
            <div class="item">
              <%= jewelry.name %>
            </div>
            <div class="link-container">
              <div class="link">
                <%= link_to 'View', jewelry, :rel => 'facebox' %>
              </div>
              <div class="link">
                <%= link_to 'Edit', edit_jewelry_path(jewelry), :rel => 'facebox' %>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      <% end %>

      <% if possession.artworks.present? %>
        <% possession.artworks.each do |artwork| %>
          <div class="row">
            <div class="category">
              Artwork
            </div>
            <div class="item">
              <%= artwork.name %>
            </div>
            <div class="link-container">
              <div class="link">
                <%= link_to 'View', artwork, :rel => 'facebox' %>
              </div>
              <div class="link">
                <%= link_to 'Edit', edit_artwork_path(artwork), :rel => 'facebox' %>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      <% end %>


      <% if possession.safe_deposit_boxes.present? %>
        <% possession.safe_deposit_boxes.each do |safe_deposit_box| %>
          <div class="row">
            <div class="category">
              Safe Deposit Box
            </div>
            <div class="item">
              <%= safe_deposit_box.name_of_bank %>
              Bank
            </div>
            <div class="link-container">
              <div class="link">
                <%= link_to 'View', safe_deposit_box, :rel => 'facebox' %>
              </div>
              <div class="link">
                <%= link_to 'Edit', edit_safe_deposit_box_path(safe_deposit_box), :rel => 'facebox' %>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      <% end %>


      <% if possession.in_home_safe_or_vaults.present? %>
        <% possession.in_home_safe_or_vaults.each do |in_home_safe_or_vault| %>
          <div class="row">
            <div class="category">
              In Home Safe or Vault
            </div>
            <div class="item">
              <%= in_home_safe_or_vault.name %>
            </div>
            <div class="link-container">
              <div class="link">
                <%= link_to 'View', in_home_safe_or_vault, :rel => 'facebox' %>
              </div>
              <div class="link">
                <%= link_to 'Edit', edit_in_home_safe_or_vault_path(in_home_safe_or_vault), :rel => 'facebox' %>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      <% end %>

      <% if possession.others.present? %>
        <% possession.others.each do |other| %>
          <div class="row">
            <div class="category">
              Other
            </div>
            <div class="item">
              <%= other.name %>
            </div>
            <div class="link-container">
              <div class="link">
                <%= link_to 'View', other, :rel => 'facebox' %>
              </div>
              <div class="link">
                <%= link_to 'Edit', edit_other_path(other), :rel => 'facebox' %>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      <% end %>

    <% end %>



    <div class="category-select">
      <div class="label">Category</div>
      <div class="value"></div>
      <div class="select">
        <%= image_tag('/images/pulldown.png', :id => 'select_category') %>
      </div>
      <div class="clear"></div>
      <div class="drop-down">
        <div class="drop-item" id="Real-estate">Real Estate</div>
        <div class="drop-item" id="Vehicle">Vehicle</div>
        <div class="drop-item" id="Furniture">Furniture</div>
        <div class="drop-item" id="Jewelry">Jewelry</div>
        <div class="drop-item" id="Artwork">Artwork</div>
        <div class="drop-item" id="Safe-Deposit-Box">Safe Deposit Box</div>
        <div class="drop-item" id="In-home-safe">In-home safe</div>
        <div class="drop-item" id="Other">Other</div>
      </div>
    </div>

    <div class="new-item-form hidden" id="Real-estate-form">
      <%= render :partial => 'real_estates/form' %>
    </div>

    <div class="new-item-form hidden" id="Vehicle-form">
      <%= render :partial => 'vehicles/form' %>
    </div>

    <div class="new-item-form hidden" id="Furniture-form">
      <%= render :partial => 'furnitures/form' %>
    </div>

    <div class="new-item-form hidden" id="Jewelry-form">
      <%= render :partial => 'jewelries/form' %>
    </div>

    <div class="new-item-form hidden" id="Artwork-form">
      <%= render :partial => 'artworks/form' %>
    </div>

    <div class="new-item-form hidden" id="Safe-Deposit-Box-form">
      <%= render :partial => 'safe_deposit_boxes/form' %>
    </div>

    <div class="new-item-form hidden" id="In-home-safe-form">
      <%= render :partial => 'in_home_safe_or_vaults/form' %>
    </div>

    <div class="new-item-form hidden" id="Other-form">
      <%= render :partial => 'others/form' %>
    </div>

    <div class="add-new-button">
      <%= image_tag('/images/new_entry_button.png', :id => 'add_new_item') %>
    </div>
  </div>
</div>



<script type="text/javascript">
  $(document).ready(function(){
    $('#add_new_item').bind('click', function(){
      $('.category-select').show();
      return false;
    });

    $('#select_category').bind('click', function(){
      $('.drop-down').show();
    });

    $('.drop-item').bind('click', function(){
      $('.drop-down').hide();
      var id = $(this).attr('id');
      $('.category-select .value').html(id);
      $('.new-item-form').hide();
      $('#'+id+'-form').show();
    });
  });
</script>