<h1>Listing debit_cards</h1>

<table>
  <tr>
    <th>Financial account</th>
    <th>Card type</th>
    <th>Issuer</th>
    <th>Phone</th>
    <th>Last four digits of card</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @debit_cards.each do |debit_card| %>
  <tr>
    <td><%= debit_card.financial_account_id %></td>
    <td><%= debit_card.card_type %></td>
    <td><%= debit_card.issuer %></td>
    <td><%= debit_card.phone %></td>
    <td><%= debit_card.last_four_digits_of_card %></td>
    <td><%= debit_card.note %></td>
    <td><%= link_to 'Show', debit_card %></td>
    <td><%= link_to 'Edit', edit_debit_card_path(debit_card) %></td>
    <td><%= link_to 'Destroy', debit_card, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Debit card', new_debit_card_path %>
