<div id="real-estate-show-container">
  <div id="real-estate-show">

    <p>
      <b>Card type:</b>
      <%= @debit_card.card_type %>
    </p>

    <p>
      <b>Issuer:</b>
      <%= @debit_card.issuer %>
    </p>

    <p>
      <b>Phone:</b>
      <%= @debit_card.phone %>
    </p>

    <p>
      <b>Last four digits of card:</b>
      <%= @debit_card.last_four_digits_of_card %>
    </p>

    <p>
      <b>Note:</b>
      <%= @debit_card.note %>
    </p>

  </div>
</div>