<div id="real-estate-show-container">
  <div id="real-estate-show">

    <p>
      <b>Real estate type:</b>
      <%= @real_estate.real_estate_type %>
    </p>

    <p>
      <b>Address:</b>
      <%= @real_estate.address %>
    </p>

    <p>
      <b>City:</b>
      <%= @real_estate.city %>
    </p>

    <p>
      <b>State:</b>
      <%= @real_estate.state %>
    </p>

    <p>
      <b>Deed:</b>
      <%#= File.basename(@real_estate.deed.url) if @real_estate.deed.present? %>
      <%= link_to 'Download File', @real_estate.deed.url, :target => '_blank' if @real_estate.deed.present? %>
    </p>

    <p>
      <b>State:</b>
      <%= @real_estate.location_of_deed %>
    </p>

    <p>
      <b>Photo:</b>
      <%= image_tag(@real_estate.photo.to_s) if @real_estate.photo.present? %>
      <%= link_to 'View Large Image', @real_estate.photo.url, :target => '_blank' if @real_estate.photo.present? %>
    </p>

    <p>
      <b>Note:</b>
      <%= @real_estate.note %>
    </p>

  </div>
</div>

