<h1>Listing loans</h1>

<table>
  <tr>
    <th>Financial account</th>
    <th>Type of loan</th>
    <th>Loan originator</th>
    <th>Current owner of loan</th>
    <th>Contact information</th>
    <th>Face value</th>
    <th>Current debt</th>
    <th>Copy of loan</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @loans.each do |loan| %>
  <tr>
    <td><%= loan.financial_account_id %></td>
    <td><%= loan.type_of_loan %></td>
    <td><%= loan.loan_originator %></td>
    <td><%= loan.current_owner_of_loan %></td>
    <td><%= loan.contact_information %></td>
    <td><%= loan.face_value %></td>
    <td><%= loan.current_debt %></td>
    <td><%= loan.copy_of_loan %></td>
    <td><%= loan.note %></td>
    <td><%= link_to 'Show', loan %></td>
    <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
    <td><%= link_to 'Destroy', loan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Loan', new_loan_path %>
