<%= render :partial => 'shared/body_content_top_without_menu',
  :locals => { :title => 'Welcome',
  :heading => 'Please sign in'} %>

<div class="content-container">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'sign_in new_user_common'} ) do |f| %>
    <div class="single-field"><%= f.label :email %>
      <%= f.email_field :email %></div>

    <div class="single-field"><%= f.label :password %>
      <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
      <div class="single-field">
        <%= f.check_box :remember_me, :class=>'checkbox' %> <%= f.label :remember_me, :class => 'inline' %>
      </div>
    <% end -%>

    <%= image_submit_tag "/images/sign_in_button.png", { :name => "sign_in", :id => "sign_in_button" } %>

  <% end %>
  <div class="extra_links">
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>