<%= form_for(@bank_account ||= BankAccount.new) do |f| %>
  <!--
  <%# if @bank_account.errors.any? %>
  <%#*<div id="error_explanation">%>
  <%#*<h2><%= pluralize(@bank_account.errors.count, "error") %> prohibited this bank_account from being saved:</h2>%>

  <%#*<ul>%>
  <%# @bank_account.errors.full_messages.each do |msg| %>
  <%#*<li><%= msg %></li>%>
  <%# end %>
  <%#*</ul>%>
  <%#*</div>%>
  <%# end %>
  -->

  <div class="field">
    <div class="label">
      <%= f.label :name_of_bank %>
    </div>
    <div class="input-field">
      <%= f.text_field :name_of_bank %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="field">
    <div class="label">
      <%= f.label :type_of_account %>
    </div>
    <div class="input-field">
      <%= f.select :type_of_account, BankAccount::TYPES %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="field">
    <div class="label">
      <%= f.label :location_of_bank %>
    </div>
    <div class="input-field">
      <%= f.text_field :location_of_bank %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="field">
    <div class="label">
      <%= f.label :last_4_digit_of_account %>
    </div>
    <div class="input-field">
      <%= f.text_field :last_4_digit_of_account, :maxlength => 4, :onkeypress => 'validateDigit(event)' %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="field">
    <div class="label">
      <%= f.label :note, 'Add Note' %>
    </div>
    <div class="input-field">
      <%= f.text_area :note %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
