<%= form_for(@bank_account) do |f| %>
  <!--
  <%# if @bank_account.errors.any? %>
  <%#*<div id="error_explanation">%>
  <%#*<h2><%= pluralize(@bank_account.errors.count, "error") %> prohibited this bank_account from being saved:</h2>%>

  <%#*<ul>%>
  <%# @bank_account.errors.full_messages.each do |msg| %>
  <%#*<li><%= msg %></li>%>
  <%# end %>
  <%#*</ul>%>
  <%#*</div>%>
  <%# end %>

  <%#*<div class="field">%>
  <%#= f.label :financial_account_id %><br />
  <%#= f.text_field :financial_account_id %>
  <%#*</div>%>
  -->

  <div class="field">
    <div class="label">
      <%= f.label :name_of_bank %>
    </div>
    <div class="input-field">
      <%= f.text_field :name_of_bank %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="field">
    <div class="label">
      <%= f.label :type_of_account %>
    </div>
    <div class="input-field">
      <%= f.select :type_of_account, BankAccount::get_types %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="field">
    <div class="label">
      <%= f.label :location_of_bank %>
    </div>
    <div class="input-field">
      <%= f.text_field :location_of_bank %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="field">
    <div class="label">
      <%= f.label :last_4_digit_of_account %>
    </div>
    <div class="input-field">
      <%= f.text_field :last_4_digit_of_account, :maxlength => 4, :onkeypress => 'validate(event)' %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="field">
    <div class="label">
      <%= f.label :note, 'Add Note' %>
    </div>
    <div class="input-field">
      <%= f.text_area :note %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">
  function validate(evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    if ((key < 48 || key > 57) && !(key == 8 || key == 9 || key == 13 || key == 37 || key == 39 || key == 46) ){
      theEvent.returnValue = false;
      if (theEvent.preventDefault) theEvent.preventDefault();
    }
  }
</script>