<div id="real-estate-show-container">
  <div id="real-estate-show">
    <p>
      <b>Name of bank:</b>
      <%= @bank_account.name_of_bank %>
    </p>

    <p>
      <b>Type of account:</b>
      <%= @bank_account.type_of_account %>
    </p>

    <p>
      <b>Location of bank:</b>
      <%= @bank_account.location_of_bank %>
    </p>

    <p>
      <b>Last 4 digit of account:</b>
      <%= @bank_account.last_4_digit_of_account %>
    </p>

    <p>
      <b>Note:</b>
      <%= @bank_account.note %>
    </p>
  </div>
</div>