<%= render :partial => 'shared/body_content_top',
  :locals => { :title => 'Accounts & Insurance',
  :heading => 'Bank Accounts, Credit Cards, Insurance Policies, etc'} %>

<div class="content-container">
  <div class="instructions">
    You can store a copy of your financial accounts here.<br/>
    It will be stored on our server, and will be included as part of your plan<br/>
    when you share or download it. You can also describe where it is<br/>
    physically located so your friend or family member knows where to find it.<br/>
    You can always download your will or documents from here.
  </div>
  <div id="possessions">
    <div class="title">FILL OUT YOUR INFORMATION BELOW</div>
    <div class="heading">
      Category <span>Item Name</span>
    </div>

    <% if @financial_accounts.present? %>
      <% financial_account = @financial_accounts.first %>


      <% if financial_account.bank_accounts.present? %>
        <% financial_account.bank_accounts.each do |bank_account| %>
          <div class="row">
            <div class="category">
              <%= bank_account.type_of_account %>
            </div>
            <div class="item">
              <%= "#{bank_account.name_of_bank} Bank #{bank_account.type_of_account} Account" %>
            </div>
            <div class="link-container">
              <div class="link">
                <%= link_to 'View', bank_account, :rel => 'facebox' %>
              </div>
              <div class="link">
                <%= link_to 'Edit', edit_bank_account_path(bank_account), :rel => 'facebox' %>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      <% end %>


      <% if financial_account.investment_accounts.present? %>
        <% financial_account.investment_accounts.each do |investment_account| %>
          <div class="row">
            <div class="category">
              <%= investment_account.investment_type %>
            </div>
            <div class="item">
              <%= investment_account.account_provider %>
            </div>
            <div class="link-container">
              <div class="link">
                <%= link_to 'View', investment_account, :rel => 'facebox' %>
              </div>
              <div class="link">
                <%= link_to 'Edit', edit_investment_account_path(investment_account), :rel => 'facebox' %>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      <% end %>


      <% if financial_account.credit_cards.present? %>
        <% financial_account.credit_cards.each do |credit_card| %>
          <div class="row">
            <div class="category">
              <%= credit_card.issuer %>
            </div>
            <div class="item">
              <%= credit_card.card_type %>
            </div>
            <div class="link-container">
              <div class="link">
                <%= link_to 'View', credit_card, :rel => 'facebox' %>
              </div>
              <div class="link">
                <%= link_to 'Edit', edit_credit_card_path(credit_card), :rel => 'facebox' %>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      <% end %>


      <% if financial_account.debit_cards.present? %>
        <% financial_account.debit_cards.each do |debit_card| %>
          <div class="row">
            <div class="category">
              Debit Card
            </div>
            <div class="item">
              <%= debit_card.issuer %>
            </div>
            <div class="link-container">
              <div class="link">
                <%= link_to 'View', debit_card, :rel => 'facebox' %>
              </div>
              <div class="link">
                <%= link_to 'Edit', edit_debit_card_path(debit_card), :rel => 'facebox' %>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      <% end %>


      <% if financial_account.loans.present? %>
        <% financial_account.loans.each do |loan| %>
          <div class="row">
            <div class="category">
              <%= loan.type_of_loan %>
            </div>
            <div class="item">
              <%= loan.loan_originator %>
            </div>
            <div class="link-container">
              <div class="link">
                <%= link_to 'View', loan, :rel => 'facebox' %>
              </div>
              <div class="link">
                <%= link_to 'Edit', edit_loan_path(loan), :rel => 'facebox' %>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      <% end %>


      <% if financial_account.insurances.present? %>
        <% financial_account.insurances.each do |insurance| %>
          <div class="row">
            <div class="category">
              <%= insurance.type_of_insurance %>
            </div>
            <div class="item">
              <%= insurance.insurance_company %>
            </div>
            <div class="link-container">
              <div class="link">
                <%= link_to 'View', insurance, :rel => 'facebox' %>
              </div>
              <div class="link">
                <%= link_to 'Edit', edit_insurance_path(insurance), :rel => 'facebox' %>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      <% end %>


      <% if financial_account.pension_plans.present? %>
        <% financial_account.pension_plans.each do |pension_plan| %>
          <div class="row">
            <div class="category">
              <%= pension_plan.name %>
            </div>
            <div class="item">
              <%= pension_plan.administrator %>
            </div>
            <div class="link-container">
              <div class="link">
                <%= link_to 'View', pension_plan, :rel => 'facebox' %>
              </div>
              <div class="link">
                <%= link_to 'Edit', edit_pension_plan_path(pension_plan), :rel => 'facebox' %>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>
      <% end %>

    <% end %>

    <div class="category-select">
      <div class="label">Category</div>
      <div class="value"></div>
      <div class="select">
        <%= image_tag('/images/pulldown.png', :id => 'select_category') %>
      </div>
      <div class="clear"></div>
      <div class="drop-down">
        <div class="drop-item" id="Bank-account">Bank Account</div>
        <div class="drop-item" id="Investment-account">Investment Account</div>
        <div class="drop-item" id="Credit-card">Credit Card</div>
        <div class="drop-item" id="Debit-card">Debit Card</div>
        <div class="drop-item" id="Loan">Loan</div>
        <div class="drop-item" id="Insurance-policy">Insurance Policy</div>
        <div class="drop-item" id="Pension-plan">Pension Plan</div>
        <div class="drop-item" id="Veterans-benefits">Veterans Benefits</div>
        <div class="drop-item" id="Tax-returns">Tax Returns</div>
      </div>
    </div>

    <div class="new-item-form hidden" id="Bank-account-form">
      <%= render :partial => 'bank_accounts/form' %>
    </div>

    <div class="new-item-form hidden" id="Investment-account-form">
      <%= render :partial => 'investment_accounts/form' %>
    </div>

    <div class="new-item-form hidden" id="Credit-card-form">
      <%= render :partial => 'credit_cards/form' %>
    </div>

    <div class="new-item-form hidden" id="Debit-card-form">
      <%= render :partial => 'debit_cards/form' %>
    </div>

    <div class="new-item-form hidden" id="Loan-form">
      <%= render :partial => 'loans/form' %>
    </div>

    <div class="new-item-form hidden" id="Insurance-policy-form">
      <%= render :partial => 'insurances/form' %>
    </div>

    <div class="new-item-form hidden" id="Pension-plan-form">
      <%= render :partial => 'pension_plans/form' %>
    </div>

    <div class="add-new-button">
      <%= image_tag('/images/new_entry_button.png', :id => 'add_new_item') %>
    </div>
  </div>
</div>



<script type="text/javascript">
  $(document).ready(function(){
    $('#add_new_item').bind('click', function(){
      $('.category-select').show();
      return false;
    });

    $('#select_category').bind('click', function(){
      $('.drop-down').show();
    });

    $('.drop-item').bind('click', function(){
      $('.drop-down').hide();
      var id = $(this).attr('id');
      $('.category-select .value').html(id);
      $('.new-item-form').hide();
      $('#'+id+'-form').show();
    });
  });
</script>