<h2>Some Kind Of Great Headline Will Go Here?</h2>
<p>
  The treatment instructions you create will help your agent
  and your doctors understand your wishes and provide what you have
  wanted. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco labor.
</p>

<div class="dynamic_bordered_box form">
  <div class="title">
    Frequently it is helpful to you put your wishes in your
    own words. Even if you don't understand all the medical
    or legal terms. Even a few sentences can help your agent
    understand your philosophy behind your End of Life Instructions.
  </div>


  <% url = current_user.present? ? url_for(@medical_instruction) : save_tmp_data_medical_instructions_path() %>
  <%= form_for(@medical_instruction, :url => url) do |f| %>
    <% if @medical_instruction.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@medical_instruction.errors.count, "error") %> prohibited this medical_instruction from
          being saved:</h2>
        <ul>
          <% @medical_instruction.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class="inspiration">
      Need help or inspiration, click on an example below to view
      samples from other people:
      <div class="examples">
        <div class="example first">
          <span>Example 1</span>
        </div>
        <div class="example">
          <span>Example 2</span>
        </div>
        <div class="example">
          <span>Example 3</span>
        </div>
        <div class="example">
          <span>Example 4</span>
        </div>
        <div class="example">
          <span>Example 5</span>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div class="single_input">
      <%= f.label :wish, 'Owner\'s Notes:' %>
      <%= f.text_area :wish, :class => 'long note' %>
    </div>
  </div>


  <h2 class="inside_page">Answer the following Questions</h2>

  <p>
    Provide specific instructions for your agent and doctors.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>


  <div class="dynamic_bordered_box form">
    <div class="title">
      Under the following circumstances what type of treatment do you
      want:
    </div>

    <ul>
      <li>
        You have an incurable condition that cause your death shortly
      </li>
      <li>
        You are unconscious and your doctors believe that you will not wake up
      </li>
      <li>
        The risk and potential pain to treatment outweigh the potential
        benefits
      </li>
    </ul>

    <div class="top_bottom_border">
      <%= f.radio_button(:incurable_condition_choice, MedicalInstruction::LIFE_SUPPORT_ON) %>
      Do Not Prolong My Life
      <div class="explain">
        Remove artificial life support, make me comfortable,
        and let nature take it's course
      </div>
      <%= f.radio_button(:incurable_condition_choice, MedicalInstruction::LIFE_SUPPORT_OFF) %>
      Keep me on life support:
      <div class="explain">
        Use any medically reasonable treatments to keep me alive
      </div>
    </div>

    <div class="single_input">
      <%= f.label :incurable_condition_comment, "Comments:" -%>
      <%= f.text_area :incurable_condition_comment, :class=> 'long' %>
    </div>
  </div>

  <div class="dynamic_bordered_box form">
    <div class="title">
      Under the following circumstances what type of treatment do you
      want:
    </div>

    <ul>
      <li>
        You havepermanent irreversible mental damage
      </li>
      <li>
        You may be awake at times but cannot recognize people
        or communicate meaningfully
      </li>
      <li>
        You will require life support to keep you alive (for
        example feeding tubes, ventilator, dialysis, CPR, pacemaker,
        transfusions, etc) for the rest of your life.
      </li>
      <li>
        Your doctors do not believe you will ever have significant
        quality of life improvement
      </li>
    </ul>

    <div class="top_bottom_border">
      <%= f.radio_button(:irreversible_damage_choice, MedicalInstruction::LIFE_SUPPORT_ON) %>
      Do Not Prolong My Life
      <div class="explain">
        Remove artificial life support, make me comfortable,
        and let nature take it's course
      </div>
      <%= f.radio_button(:irreversible_damage_choice, MedicalInstruction::LIFE_SUPPORT_OFF) %>
      Keep me on life support:
      <div class="explain">
        Use any medically reasonable treatments to keep me alive
      </div>
    </div>

    <div class="single_input">
    <%= f.label :irreversible_damage_comment, "Comments:" -%>
    <%= f.text_area :irreversible_damage_comment, :class => 'long' %>
    </div>
  </div>

  <div class="dynamic_bordered_box form">
    <div class="title">
      Under the following circumstances what type of treatment do you
      want:
    </div>

    <ul>
      <li>
        You are no longer able to make you own health decisions
      </li>
      <li>
        You may be awake at times but cannot recognize people
        or communicate meaningfully
      </li>
      <li>
        You will require life support to keep you alive (for
        example feeding tubes, ventilator, dialysis, CPR, pacemaker,
        transfusions, etc) for the rest of your life.
      </li>
      <li>
        Your doctors do not believe you will ever have significant
        quality of life improvement
      </li>
    </ul>

    <div class="top_bottom_border">
      <%= f.radio_button(:unable_to_decide_choice, MedicalInstruction::LIFE_SUPPORT_ON) %>
      Do Not Prolong My Life
      <div class="explain">
        Remove artificial life support, make me comfortable,
        and let nature take it's course
      </div>
      <%= f.radio_button(:unable_to_decide_choice, MedicalInstruction::LIFE_SUPPORT_OFF) %>
      Keep me on life support:
      <div class="explain">
        Use any medically reasonable treatments to keep me alive
      </div>
    </div>

    <div class="single_input">
    <%= f.label :unable_to_decide_comment, 'Comments:' %>
    <br/>
    <%= f.text_area :unable_to_decide_comment, :class => 'long' %>
    </div>
  </div>

<% end %>
