<%= render :partial => 'shared/body_content_top',
  :locals => { :title => 'Medical Directives',
  :heading => 'Instructions, Agents, Statement, & Wishes'} %>

<div class="content-container">
  <div id="new_medical_instruction">
    <%= render :partial => 'shared/save_progress_button', :locals => {
      :title => 'STEPS FOR YOUR END OF LIFE INSTRUCTIONS',
      :button_id => 'save_progess_submit_top'} %>
    <%= render :partial => 'shared/tab_menu' %>

    <div class="content">
      <h2>What is an advance medical directive?</h2>
      <p>
        As long as you are able to make decisions for yourself, you 
        don't need an advance medical directive. An advance medical 
        directive is a set of important decisions you can document so that
        you and your family will get what you want if you are to become
        incapacitated or unable to make decisions regarding your health for yourself
        This could be situations such as if you were to get into an accident, 
        or have a health issue that renders you unconscious or unable to communicate. 
      </p>
      <p>
        The default protocol of most hospitals and doctors is to keep
        you alive, sometimes at very little benefit to your quality of life.
        You have the right to choose the type of care you want at the end
        of your life. But, unless you make your instructions known in a legal
        document, doctors and hospitals may perform aggressive treatments to
        keep you alive. You don't need a lawyer to do this - all that's needed
        to make an advance directive legal is your signature, and two witnesses. 
      </p>
      <h3>HOW IT WORKS</h3>
      <p class="first">
        A good medical directive has two main things: guidance on your wishes regarding
        medical care should you become incapacitated, and declaring an agent to make
        these important decisions for you. You can do either of them, but we strong
        recommend doing both. Weighing risk/benefit decisions under circumstances of
        high uncertainty is never a black-and-white thing. Documenting your wishes in
        these two areas can considerably reduce the liklihood that you will not get what
        you want, or that your family or doctors will need to make decisions without
        knowing your wishes. This can be extremely difficult for them to do...
      </p>
      <p>
        If there are people who you think would complicate the decision, or compromise
        the wishes in your directive, you can further increase chances of compliance 
        by explicitly EXCLUDING them. You don't need to tell them you are doing this.
        As long as your agent knows, and you have a signed directive, these people
        will not have a say as to your treatment. 
      </p>
      <%= form_tag(agreement_tmp_save_medical_instructions_path) %>
      <div class="bordered_box user_agreed">
        <div class="text">
          I HAVE READ AND UNDERSTAND THE ABOVE COPY:
        </div>
        <div class="aggreed_input">
          Yes
          <div class="checkbox">
            <% medical = current_user.default_plan.medical_instructions.first %>
            <% if session[:agreement].present? || (medical.present? && medical.instructions_agreement.present?) %>
              <%= check_box_tag(:terms_of_service, 1, true) %>
            <% else %>
              <%= check_box_tag(:terms_of_service) %>
            <% end %>
          </div>
        </div>
        <div class="clear"></div>
      </div>




    </div>

    <%= render :partial => 'shared/save_progress_button', :locals => {
      :button_id => 'save_progess_submit_bottom'} %>
  </div>

</div>
