<%= render :partial => 'shared/body_content_top',
  :locals => { :title => 'Medical Directives',
  :heading => 'Instructions, Agents, Statement, & Wishes'} %>

<div class="content-container">
  <div id="new_medical_instruction">
    <%= render :partial => 'shared/save_progress_button', :locals => {
      :title => 'STEPS FOR YOUR END OF LIFE INSTRUCTIONS',
      :button_id => 'save_progess_submit_top'} %>
    <%= render :partial => 'shared/tab_menu' %>

    <div class="content">

      <%= render 'form' %>

    </div>

    <%= render :partial => 'shared/save_progress_button', :locals => {
      :button_id => 'save_progess_submit_bottom'} %>
  </div>

</div>
