<%= render :partial => 'shared/body_content_top',
  :locals => { :title => 'Medical Directives',
  :heading => 'Instructions, Agents, Statement, & Wishes'} %>

<div class="content-container">
  <div id="new_medical_instruction">
    <%= render :partial => 'shared/save_progress_button', :locals => {
      :title => 'STEPS FOR YOUR END OF LIFE INSTRUCTIONS',
      :button_id => 'save_progess_submit_top'} %>
    <%= render :partial => 'shared/tab_menu' %>

    <div class="content">
      <h2>Choose an agent, capture wishes...</h2>
      <p>
        Only adults who are of sound mind can create legal End of Life
        Instructions. So it’s important to create them early. If you
        suddenly lose the ability to communicate your wishes rationally,
        it is too late. Your family and doctors will have to make decisions
        on your behalf without knowing what you would have wanted. 
      </p>
      <p>
        Your Advance Directive must be signed by two witness or
        a notary. We will provide you with a document to print out and
        sign. If you do not collect all necessary signatures, the document
        may not be considered legal by the hospital.
      </p>
      <p>
        On the next pages, we walk you through indicating your wishes
        and your choice of agent. We also give some examples of value
        statements others have made, in order to show that your directive
        can be greatly clarified by a value and preferences statement. 
      </p>
      <%= form_tag(requirements_tmp_save_medical_instructions_path) %>
      <div class="bordered_box user_agreed">
        <div class="text">
          I HAVE READ AND UNDERSTAND THE ABOVE COPY:
        </div>
        <div class="aggreed_input">
          Yes
          <div class="checkbox">
            <% medical = current_user.default_plan.medical_instructions.first %>
            <% if session[:requirements].present? || (medical.present? && medical.requirements_agreement.present?) %>
              <%= check_box_tag(:requirements, 1, true) %>
            <% else %>
              <%= check_box_tag(:requirements) %>
            <% end %>
          </div>
        </div>
        <div class="clear"></div>
      </div>


    </div>

    <%= render :partial => 'shared/save_progress_button', :locals => {
      :button_id => 'save_progess_submit_bottom'} %>
  </div>

</div>