<%= render :partial => 'shared/body_content_top',
  :locals => { :title => 'Medical Directives',
  :heading => 'Instructions, Agents, Statement, & Wishes'} %>

<div class="content-container">
  <div id="new_medical_instruction">
    <%= render :partial => 'shared/save_progress_button', :locals => {:title => 'STEPS FOR YOUR END OF LIFE INSTRUCTIONS'} %>
    <%= render :partial => 'shared/tab_menu' %>

    <div class="content review">
      <h2>Your Answers At A Glance?</h2>
      <p>
        This is important stuff and you want to make sure you have all the
        information accurate. Please review Lorem ipsum dolor sit amet,
        consectetur adipisicing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation.
      </p>

      <div class="highlighted_point">
        <div class="point">
          1
        </div>
        <div class="text">
          Understanding End of Life Instructions
        </div>
        <div class="control_buttons">
          <div class="edit_button">
            <%= link_to 'Edit', agreement_medical_instructions_path %>
          </div>
          <div class="divider">
            <%= image_tag('/images/divider_3.png') %>
          </div>
          <div class="completion">
            <div class="status">
              Completed:
            </div>
            <div class="completion_image">
              <% instructions_agreement = session[:agreement].present? || (@medical.present? && @medical.instructions_agreement?) ? "yes" : "no" %>
              <div class="<%= instructions_agreement %>"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>

      <div class="user_status">
        <span class="<%= instructions_agreement == "yes" ? "green" : "red" %>">
          <%= instructions_agreement.capitalize %>
        </span>, I have read and understand the End of Life
        Instructions
      </div>

      <div class="highlighted_point">
        <div class="point">
          2
        </div>
        <div class="text">
          Initial Requirements
        </div>
        <div class="control_buttons">
          <div class="edit_button">
            <%= link_to 'Edit', requirements_medical_instructions_path %>
          </div>
          <div class="divider">
            <%= image_tag('/images/divider_3.png') %>
          </div>
          <div class="completion">
            <div class="status">
              Completed:
            </div>
            <div class="completion_image">
              <% requirements_agreement = session[:requirements].present? || (@medical.present? && @medical.requirements_agreement?) ? "yes" : "no" %>
              <div class="<%= requirements_agreement %>"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>

      <div class="user_status">
        <span class="<%= requirements_agreement == "yes" ? "green" : "red" %>">
          <%= requirements_agreement.capitalize %>
        </span>, I have read and understand the End of Life
        Instructions
      </div>

      <div class="highlighted_point">
        <div class="point">
          3
        </div>
        <div class="text">
          Your Basic Information
        </div>
        <div class="control_buttons">
          <div class="edit_button">
            <%= link_to 'Edit', edit_profile_path(current_user.id) %>
          </div>
          <div class="divider">
            <%= image_tag('/images/divider_3.png') %>
          </div>
          <div class="completion">
            <div class="status">
              Completed:
            </div>
            <div class="completion_image">
              <% user_info = current_user.name.present? ? "yes" : "no" %>
              <div class="<%= user_info %>"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>

      <div class="user_infromation">
        <div class="single_information">
          <div class="info_name">
            Owners Name:
          </div>
          <div class="info_value <%= "red" if current_user.name.blank? %>">
            <%= current_user.name.present? ? current_user.name : '-------------' %>
          </div>
        </div>
        <div class="single_information">
          <div class="info_name">
            Owners Date of Birth:
          </div>
          <div class="info_value <%= "red" if current_user.date_of_birth.blank? %>">
            <%= current_user.date_of_birth.present? ? current_user.date_of_birth : '-------------' %>
          </div>
        </div>
        <div class="single_information">
          <div class="info_name">
            Owners Address:
          </div>
          <div class="info_value <%= "red" if current_user.address.blank? %>">
            <%= current_user.address.present? ? current_user.address : '-------------' %>
          </div>
        </div>
        <div class="single_information">
          <div class="info_name">
            Owners Phone Number:
          </div>
          <div class="info_value <%= "red" if current_user.phone_number.blank? %>">
            <%= current_user.phone_number.present? ? current_user.phone_number : '-------------' %>
          </div>
        </div>
      </div>

      <div class="highlighted_point">
        <div class="point">
          4
        </div>
        <div class="text">
          Your Agent Name
        </div>
        <div class="control_buttons">
          <div class="edit_button">
            <%= link_to 'Edit', @agent.present? ? edit_agent_path(@agent) : new_agent_path %>
          </div>
          <div class="divider">
            <%= image_tag('/images/divider_3.png') %>
          </div>
          <div class="completion">
            <div class="status">
              Completed:
            </div>
            <div class="completion_image">
              <% is_agent = @agent.present? ? "yes" : "no" %>
              <div class="<%= is_agent %>"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>

      <div class="user_infromation">
        <div class="single_information">
          <div class="info_name">
            Agent Name:
          </div>
          <div class="info_value <%= "red" if @agent.blank? || @agent.name.blank? %>">
            <%= @agent.present? && @agent.name.present? ? @agent.name : '-------------' %>
          </div>
        </div>

        <div class="single_information">
          <div class="single">
            <div class="info_name">
              Agent Phone Number:
            </div>
            <div class="info_value <%= "red" if @agent.blank? || @agent.home_phone.blank? %>">
              <%= @agent.present? && @agent.home_phone.present? ? @agent.home_phone : '-------------' %>
            </div>
          </div>
          <div class="divider">
            <%= image_tag('/images/divider_3.png') %>
          </div>
          <div class="single">
            <div class="info_name">
              Agent Cell Phone Number:
            </div>
            <div class="info_value <%= "red" if @agent.blank? || @agent.cell_phone.blank? %>">
              <%= @agent.present? && @agent.cell_phone.present? ? @agent.cell_phone : '-------------' %>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="single_information">
          <div class="info_name">
            Agent Address:
          </div>
          <div class="info_value <%= "red" if @agent.blank? || @agent.address.blank? %>">
            <%= @agent.present? && @agent.address.present? ? @agent.address : '-------------' %>
          </div>
        </div>
        <div class="single_information">
          <div class="info_name">
            Agent Relationship:
          </div>
          <div class="info_value <%= "red" if @agent.blank? || @agent.relationship.blank? %>">
            <%= @agent.present? && @agent.relationship.present? ? @agent.relationship : '-------------' %>
          </div>
        </div>
      </div>

      <div class="user_infromation">
        <div class="single_information">
          <div class="info_name">
            Alternate Agent Name:
          </div>
          <div class="info_value">
            John Smith
          </div>
        </div>

        <div class="single_information">
          <div class="single">
            <div class="info_name">
              Alternate Agent Phone Number:
            </div>
            <div class="info_value">
              858-555-5523
            </div>
          </div>
          <div class="divider">
            <%= image_tag('/images/divider_3.png') %>
          </div>
          <div class="single">
            <div class="info_name">
              Alternate Agent Cell Phone Number:
            </div>
            <div class="info_value">
              858-555-5523
            </div>
          </div>
          <div class="clear"></div>
        </div>

        <div class="single_information">
          <div class="info_name">
            Alternate Agent Address:
          </div>
          <div class="info_value">
            123 Space Street, San Diego, California, 92121
          </div>
        </div>

        <div class="single_information">
          <div class="info_name">
            Alternate Agent Relationship:
          </div>
          <div class="info_value">
            Sister
          </div>
        </div>
      </div>

      <div class="highlighted_point">
        <div class="point">
          5
        </div>
        <div class="text">
          Your End of Life Instructions
        </div>
        <div class="control_buttons">
          <div class="edit_button">
            <%= link_to 'Edit', @medical.present? ? edit_medical_instruction_path(@medical) : new_medical_instruction_path %>
          </div>
          <div class="divider">
            <%= image_tag('/images/divider_3.png') %>
          </div>
          <div class="completion">
            <div class="status">
              Completed:
            </div>
            <div class="completion_image">
              <div class="<%= @medical.present? ? "yes" : "no" %>"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>

      <div class="user_infromation">
        <div class="single_information">
          <div class="info_name">
            Your Statement On Your End Of LIfe Instructions:
          </div>
          <div class="info_value <%= "red" if @medical.blank? || @medical.wish.blank? %>">
            <%= @medical.present? && @medical.wish.present? ? @medical.wish : '-------------' %>
          </div>
        </div>


        <div class="single_information">
          <div class="info_name">
            Under the following circumstances what type of treatment do you
            want:
            <ul>
              <li>
                You have an incurable condition taht cause your death shortly
              </li>
              <li>
                You are unconcious ans your doctors believe that you will
                not wake up
              </li>
              <li>
                The risk and potential pain to treatment outweigh the potential
                benefits
              </li>
            </ul>
          </div>
          <div class="info_value <%= "red" if @medical.blank? || @medical.incurable_condition_choice.blank? %>">
            <%= @medical.blank? || @medical.incurable_condition_choice.blank? ? '-------------' :
              @medical.incurable_condition_choice == MedicalInstruction::LIFE_SUPPORT_ON ? 'No, Do Not Prolong My Life. Remove artificial life support, make me comfortable,and let nature take it\'s course' :
              'Yes, Keep me on life support. Use any medically reasonable treatments to keep me alive' %>
          </div>
        </div>
        <div class="single_information">
          <div class="info_name">
            Owners Comments:
          </div>
          <div class="info_value <%= "red" if @medical.blank? || @medical.incurable_condition_comment.blank? %>">
            <%= @medical.present? && @medical.incurable_condition_comment.present? ? @medical.incurable_condition_comment : '-------------' %>
          </div>
        </div>

        <div class="single_information">
          <div class="info_name">
            Under the following circumstances what type of treatment do you
            want:
            <ul>
              <li>
                You are no longer able to make you own health decisions
              </li>
              <li>
                You may be awake at times but cannot recognize people
                or communicate meaningfully
              </li>
              <li>
                You will require life support to keep you alive (for
                example feeding tubes, ventilator, dialysis, CPR, pacemaker,
                transfusions, etc) for the rest of your life.
              </li>
              <li>
                Your doctors do not believe you will ever have significant
                quality of life improvement
              </li>
            </ul>
          </div>
          <div class="info_value <%= "red" if @medical.blank? || @medical.irreversible_damage_choice.blank? %>">
            <%= @medical.blank? || @medical.irreversible_damage_choice.blank? ? '-------------' :
              @medical.irreversible_damage_choice == MedicalInstruction::LIFE_SUPPORT_ON ? 'No, Do Not Prolong My Life. Remove artificial life support, make me comfortable,and let nature take it\'s course' :
              'Yes, Keep me on life support. Use any medically reasonable treatments to keep me alive' %>
          </div>
        </div>
        <div class="single_information">
          <div class="info_name">
            Owners Comments:
          </div>
          <div class="info_value <%= "red" if @medical.blank? || @medical.irreversible_damage_comment.blank? %>">
            <%= @medical.present? && @medical.irreversible_damage_comment.present? ? @medical.irreversible_damage_comment : '-------------' %>
          </div>
        </div>
      </div>

      <div class="highlighted_point">
        <div class="point with_text">
          AUTHORIZE
        </div>
        <div class="text">
          Review Above And Approve When Satisfied
        </div>
        <div class="control_buttons">
          <div class="completion">
            <div class="status long_text">
              Are All Above Sections Completed
            </div>
            <div class="completion_image">
      <% is_all_completed = (session[:agreement].present? || (@medical.present? && @medical.instructions_agreement?)) &&
        (session[:requirements].present? || (@medical.present? && @medical.requirements_agreement?)) &&
        current_user.name.present? && @agent.present? && @medical.present? ? 'yes' : 'no' %>
               <div class="<%= is_all_completed %>"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>

      <div class="user_status multiline">
        Once you hae all items above and made any edits needed. Click
        the Authorize button below to lock in your wishes. You will
        be required to submit your password to make these changes again.
        This is to keep you in control of all changes etc. Lorem ipsum dolor
        sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exerc.
      </div>
      <div class="clear"></div>

      <%= form_tag(review_submit_medical_instructions_path) %>
      <div class="review-submit">
        <div class="authorize-time">
          LAST AUTHORIZED:
          <%= (@medical.present? && @medical.authorized_at.present?) ? @medical.authorized_at.strftime("%d/%m/%Y AT %I:%M %p") : 'NEVER' %>
        </div>
        <div class="authorize-submit">
          <%= image_submit_tag('/images/click_to_authorize_button.png', :id => 'review_submit')  %>
        </div>
        <div class="clear"></div>
      </div>
    </div>

  </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#review_submit').bind('click', function(){
<% if is_all_completed == 'yes' %>
        $(this).submit();
<% else %>
        alert('You must complete all steps');
        return false;
<% end %>
    });
  });
</script>