<div id="plans">
  <% if @plans.present? %>
    <div class="own-plans">
      <div class="title">Plans Created by You</div>

      <table>
        <tr>
          <th>Title</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% @plans.each do |plan| %>
          <tr>
            <td><%= plan.title %></td>
            <td><%= link_to 'Show', plan %></td>
            <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
            <td><%= link_to 'Destroy', plan, :confirm => 'Are you sure?', :method => :delete %></td>
            <td><%= link_to 'Apply Sharing Rules', publics_dashboard_path %> </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>


  <% if @parent_plans.present? %>
    <div class="parent-plans">
      <div class="title">Plans Created by
        <%= @parent.full_name %>
      </div>

      <% @parent_plans.each do |plan| %>
        <div class="plan-link">
          <% if plan.is_show_plan_link(Plan::INFORMATION_TYPE_MEMORIAL, current_user.id) %>
            <% plan.memorials.each do |memorial| %>
              <div class="link">
                <%= link_to 'Memorials', memorial %>
              </div>
            <% end %>
          <% end %>

          <% if plan.is_show_plan_link(Plan::INFORMATION_TYPE_MEDICAL, current_user.id) %>
            <% plan.medical_instructions.each do |medical| %>
              <div class="link">
                <%= link_to 'Medical Instructions', medical %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= link_to 'Create New Plan', new_plan_path %>
</div>