<%= render :partial => 'shared/body_content_top_thin',
  :locals => { :title => 'Memorial'}
%>

<div class="content-container-thin">

  <b>Organizer name:</b>
  <%= @memorial.organizer_name %>
<br/><br/>


  <b>Organizer preferences:</b>
  <%= @memorial.organizer_preferences %>
<br/><br/>


  <b>Prepared services:</b>
  <%= @memorial.prepared_services %>

<br/><br/>

  <b>Service preferences:</b>
  <%= @memorial.service_preferences %>

<br/><br/>

  <b>Remains:</b>
  <%= @memorial.remains %>
<br/><br/>


  <b>Additional notes:</b>
  <%= @memorial.additional_notes %>
<br/><br/>

<%= link_to 'Edit', edit_memorial_path(@memorial) %>

</div>